<h1>New Store</h1>

<%= simple_form_for @store do |f| %>
	<%= render "shared/error_messages", :target => @store %>
	
	<%= f.label :name, "Title" %>
	<%= f.text_field :name %><br>
	<%= f.label :description, "Description" %>
	<%= f.text_field :description %><br>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email %><br>
	<%= f.label :phone, "Phone" %>
	<%= f.text_field :phone %><br>
	<%= f.label :url, "URL" %>
	<%= f.text_field :url %><br>

	<%= f.label :adress, "Adress" %>
	<%= f.text_field :adress %><br>

	<%= f.label :postal_code, "Postal Code" %>
	<%= f.text_field :postal_code %><br>

	<%= f.label :city, "City" %>
	<%= f.text_field :city %><br>

  <h3>Categories</h3>
  <div id='tasks'>
    <%= f.simple_fields_for :categorizes do |task| %>
      <%= render 'categorize_fields', :f => task %>
  	<% end %>
    <%= link_to_add_association 'Add Category', f, :categorizes %><br>
	</div>
  <p>
  	<%= f.submit 'Save Store' %>
  </p>

<% end %>

