<h1>Lojas </h1>

<h2>Search</h2> 
<%= form_tag stores_path, :method => 'get' do %>
	<h3>Category
    	<%= select_tag "search", options_for_select(["All"]+@store_categories.map{|a| [a.title,a.id]},params[:search]),{:onchange => 'this.form.submit()'}%>
    </h3>
<% end %>

<%= form_tag stores_path, :method => 'get' do %>
    <h3>Keyword
    	<%= text_field_tag :keyword, params[:keyword] %>
    	<%= submit_tag 'Search'%>
    </h3>
<% end %>

<% if @stores.count > 0 %>
	<ul>
		<% @stores.each do |store| %>
			<li>
				<%= link_to store.name, store_path(store) %>
				<% store_url = 3000 + store.id%>
				<%= link_to "View Store >>", "http://localhost:" + store_url.to_s + "/" %>
			</li>
		<% end %>
	</ul>
<% else %>
	Nenhuma loja disponível
<% end %>

<p>
	<%= link_to "Criar Nova Loja",  new_store_path %><br>
	<%= link_to "Voltar para a Página Principal",  plazrrs_path %>
</p>
