<div id="stores">
	<div class="container">
		<div class="row-fluid page-header">
			<h2>As nossas lojas</h2>
		</div>

		<div class="row-fluid">
			<div class="categories">
				<%= form_tag stores_path, :method => 'get' do %>
				<%= select_tag "search", options_for_select(["Todas"]+@store_categories.map{|a| [a.title,a.id]},params[:search]),{:onchange => 'this.form.submit()'}%>
				<% end %>
			</div>
			<div class="input-append keywords">
				<%= form_tag stores_path, :method => 'get' do %>
				<%= text_field_tag :keyword, params[:keyword], id: 'appendedInputButton' %>
				<%= submit_tag 'Pesquisar', class: 'btn' %>
				<% end %>
			</div>
		</div>

		<div class="row-fluid">
			<% if @stores.count > 0 %>
			<table class="table">
				<% @stores.each do |store| %>
				<tr>
					<td><%= link_to store.name, store_path(store) %></td>
					<% store_url = 3000 + store.id%>
					<td><%= link_to "View Store >>", "http://localhost:" + store_url.to_s + "/" %></td>
				</tr>
				<% end %>
			</table>
			<% else %>
			<p>Não existem lojas!</p>
			<% end %>
		</div>
		<div class="row-fluid buttons">
			<%= link_to "Criar Nova Loja",  new_store_path %>
			<%= link_to "Voltar para a Página Principal",  plazrrs_path %>
		</div>
	</div>
</div>