<% content_for :javascript_includes do %>
	<%= javascript_include_tag :new_store %>
	<%= javascript_include_tag :maps %>
<% end %>

<div class="progress-wrap">
	<div class="container">
		<div class="progress">
			<div class="bar">
			</div>
		</div>
	</div>
</div>

<%= form_for(@store, html: {class: 'form-horizontal'}) do |f| %>

<section id="section-one">
	<div class="container">
		<header>
			<h1>Bem-Vindo ao Plazr!</h1>
			<p>Utilize o Plazr para criar a sua loja online!<br />Deve preencher o formulário das próximas três etapas para concluir o prcesso de criar a sua loja!</p>
		</header>
		<section>
			<div class="input-append">
				<label>Indique que nome pretende dar à sua loja: </label>
				<%= f.text_field :name, :required => true, :placeholder => "Plazr", class: 'input-xxlarge span3' %>
				<a href="#sectionTwo" class="btn btn-primary">Continuar</a>
			</div>
		</section>
	</div>
</section>

<section id="section-two">
	<div class="container">
		<header>
			<h2>Informação Básica</h2>
			<p>Deve indificar uma descrição para a loja e associa-la a uma ou mais categorias.</p>
		</header>
		<section>
			<div class="control-group">
				<label class="control-label">
					Descrição da loja:
				</label>
				<div class="controls">
					<%= f.text_field :description, :rows => 2, :required => false, :placeholder => "O Plazr permite criar uma loja online.", class: 'input-xxlarge' %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
					Categorias:
				</label>
				<div class="controls">
					<ul class="checklistbox input-xxlarge">
						<%= f.fields_for :categorizes do |ff| %>
							<li>
								<div class="checkbox">
									<%= ff.check_box :_destroy, {:checked => ff.object.persisted?}, '0', '1' %>
									<%= ff.object.store_category.title %>
								</div>
								<%#= ff.label :_destroy, ff.object.store_category.title %>
								<%= ff.hidden_field :store_category_id %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
					<%= f.label :url, "URL Pretendido:" %>
				</label>
				<div class="controls">
					<%= f.text_field :url, :placeholder => "http://www.plazr.net", class: 'input-xxlarge' %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Logo:</label>
				<div class="controls logo">
					<%= f.file_field :logo %>
				</div>
			</div>
			<div class="pull-right buttons-top">
				<a href="#sectionOne" class="btn btn-primary">Anterior</a>
				<a href="#sectionThree" class="btn btn-primary">Continuar</a>
			</div>
			<div class="clearfix"></div>
		</section>
	</div>
</section>

<section id="section-three">
	<div class="container">
		<header>
			<h2>Contactos</h2>
			<p>Deve indicar os contactos da loja!</p>
		</header>
		<section>
			<div class="control-group">
				<label class="control-label">
					<%= f.label :email, "Email da loja:" %>
				</label>
				<div class="controls">
					<%= f.text_field :email, :required => true, :placeholder => "plazr@example.com", class: 'input-xxlarge' %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
					<%= f.label :phone, "Telefone da Loja:" %>
				</label>
				<div class="controls">
					<%= f.text_field :phone, :required => false, :required => false, :placeholder => "911111111", class: 'input-xxlarge' %>
				</div>
			</div>
			<div class="pull-right buttons-top">
				<a href="#sectionTwo" class="btn btn-primary">Anterior</a>
				<a href="#sectionFour" class="btn btn-primary">Continuar</a>
			</div>
			<div class="clearfix"></div>
		</section>
	</div>
</section>

<section id="section-four">
	<div class="container">
		<header>
			<h2>Localização</h2>
			<p>Indique a morada da sua loja!</p>
		</header>
		<section>
			<table class="pull-left">
				<tr>
					<td>Morada</td>
					<td><%= f.text_field :adress, placeholder: "Rua da Alegria, 26, Lordelo", id: "address" %></td>
				</tr>
				<tr>
					<td>Cidade</td>
					<td><%= f.text_field :city, placeholder: "Guimarães", id: "city"	 %></td>
				</tr>
				<tr>
					<td>Cod Postal</td>
					<td><%= f.text_field :postal_code, placeholder: "1234-567", id: 'codP' %></td>
				</tr>
				<tr>
					<td>
						<input type="button" id="updated_map" value="Actualizar mapa" class="btn btn-info" />
					</td>
				</tr>
			</table>

<!-- 			<div class="location">
				<% gmaps4rails(@json) %>
			</div>
		-->
		<div class="pull-right">
			<div class="pull-right buttons">
				<a href="#sectionThree" class="btn btn-primary">Anterior</a>
				<a href="#sectionFive" class="btn btn-primary">Continuar</a>
			</div>
			<div class="clearfix"></div>
			<div id="mapa" class="" style="width:600px; height:280px"></div>
		</div>
		<div class="clearfix"></div>
	</section>
</div>
</section>

<section id="section-five">
	<div class="container">
		<header>
			<h2>Concluído</h2>
			<p>Muito obrigado! Por favor carregue em submeter para terminar.</p>
		</header>
		<section>
			<p>Confirme por favor antes de submeter!</p>
			<dl class="dl-horizontal">
				<dt>Nome:</dt>
				<dd><span class="name"></span></dd>
				<dt>Email:</dt>
				<dd><span class="email"></span></dd>
				<dt>Telefone:</dt>
				<dd><span class="tel"></span></dd>
			</dl>
			<div class="pull-right buttons-top">
				<a href="#sectionFour" class="btn btn-primary">Anterior</a>
				<%= f.submit 'Submeter', class: 'btn btn-primary' %>
			</div>
			<div class="clearfix">
			</div>
		</section>
	</div>
</section>

<% end %>