<h1><%= @store.name %></h1>
Name: <%= @store.name %><br>
Description: <%= @store.description %><br>
Email: <%= @store.email %><br>
Phone: <%= @store.phone %><br>
URL: <%= @store.url %><br>
Latitude: <%= @store.latitude %><br>
Longitude: <%= @store.longitude %><br>
<p>
	Categories:<br>
	<% @store.store_categories.each do |c| %>
		<%= link_to c.title, root_store_category_path(c) %>
	<% end %>
</p>	

<p>
	<%= link_to "Editar Loja", edit_store_path(@store) %>
	<%= link_to "Eliminar Loja", store_path(@store), method: :delete, data: { confirm: 'Tem a certeza?' } %>
</p>


<%= link_to "Voltar para as Lojas", stores_path %>
