<h1><%= @category.title %></h1>
Description: <%= @category.description %><br>

<p>
	<%= link_to "Edit", edit_store_category_path(@category) %>
	<%= link_to "Delete", store_category_path(@category), method: :delete %>
</p>

<h2>Stores for this Category</h2>

<ul>
  	<% @category.stores.each do |store| %>
    	<li><%= link_to store.name, store_path(store) %></li>
  	<% end %>
</ul>

<%= link_to "Back to Store Categories", store_categories_path %>
