<!DOCTYPE html>
<html>
<head>
	<title>Plazr</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="wrap top-container">
		<div class="container">
			<div class="row-fluid top-bar">
				<div class="pull-left">
					<h3><a href="#headerAnn">Plazr</a></h3>
				</div>
				<div>
					<ul class="navigation pull-right">
						<li><a href="#section-two">O que oferece?</a></li>
						<li><a href="#headerAboutUs">Como surgiu?</a></li>
						<li><a href="https://www.facebook.com/plazr">Facebook</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<%= yield %>

	<footer>
		<%= yield :scripts %>
	</footer>
</body>
</html>
